@define-color bg-dark #1D2129;
@define-color bg-gray rgba(100, 114, 125, 0.5);
@define-color icon-gray #777;
@define-color lightblue rgb(159, 246, 252);
@define-color lightblue-faded rgba(159, 246, 252, 0.5);
@define-color blue #0069d4;

* {
  /* otf-font-awesome or nerd font is required for icons */
  font-family: Arimo Nerd Font, sans-serif;
  font-size: 14px;
  transition: none;
}

tooltip {
  background-color: @bg-dark;
  border: 1px solid @bg-gray;
}

tooltip label {
  font-size: 16px;
}

window#waybar {
  background-color: @bg-dark;
  border-bottom: 3px solid @bg-gray;
  color: white;
}

window#waybar.hidden {
  opacity: 0.2;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

.module {
  padding: 0 10px;
  color: white;
}

#workspaces {
  padding-left: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background: inherit;
  border: inherit;
}
#workspaces button.special:hover {
  box-shadow: inset 0 -3px @lightblue;
}

#workspaces button.active {
  color: white;
  box-shadow: inset 0 -3px white;
}

#workspaces button.special {
  color: @lightblue-faded;
}

#workspaces button.special.active {
  color: @lightblue;
  box-shadow: inset 0 -3px @lightblue;
}

#workspaces button:hover,
.module:hover {
  box-shadow: inset 0 -3px white;
}

/* Nothing on hover for these */
#workspaces:hover,
#language:hover {
  background-color: initial;
  box-shadow: initial;
}

#temperature.critical,
#battery.critical:not(.charging) {
  background-color: black;
  color: orangered;
  box-shadow: inset 0 -3px orangered;
}
#workspaces button,
#network.disconnected,
#wireplumber.muted,
#bluetooth.disabled {
  color: @icon-gray;
}

#idle_inhibitor.activated,
#workspaces button.urgent {
  color: yellow;
  box-shadow: inset 0 -3px yellow;
}

#privacy {
  padding: 0;
}

#privacy-item {
  padding: 0 5px;
  background-color: @blue;
}

#clock {
  font-weight: bold;
}

/* If workspaces is the leftmost module, omit left margin */
/* .modules-left>widget:first-child>#workspaces { */
/*   margin-left: 0; */
/* } */

/* If workspaces is the rightmost module, omit right margin */
/* .modules-right > widget:last-child > #workspaces { */
/*     margin-right: 0; */
/* } */
